<h2 class="cell-title">[[cell.title]]</h2>
<input type="color" ng-model="cell.style['background-color']" class="color-picker" />
<div class="media-wrapper" ng-class="{ 'has-title': cell.title }">
    <div class="media-container" ng-class="className" ng-transclude></div>
</div>
<i class="trash" ng-click="removeCell()"></i>
<dots-menu>
    <opt ng-click="setTitle()"><i18n>cell.set.title</i18n></opt>
    <opt ng-click="removeTitle()" ng-if="cell.title"><i18n>cell.remove.title</i18n></opt>
    <opt ng-click="duplicate()"><i18n>duplicate</i18n></opt>
    <opt ng-click="setColor()" class="color-button"><i18n>cell.setBackground</i18n></opt>
    <opt ng-click="removeColor()" ng-if="cell.style['background-color']"><i18n>cell.removeBackground</i18n></opt>
</dots-menu>