<div class="pages-editor-panel toggle-panel" bottom-scroll="blocks.next()" scrollable>
    <div class="toggle cell">
        <div class="row">
            <infotip name="pages-panel-tutorial" class="info">
                <h2 class="no-margin"><i18n>panel.help.title</i18n></h2>
                <div class="top-spacing-twice"><i18n>panel.help.content</i18n></div>
            </infotip>

            <h2><i18n>panel.media.title</i18n></h2>
            <div class="row sniplets">
                <div class="sniplet" ng-repeat="medium in media" drag-item="medium">
                    <i class="[[medium.type]]" tooltip="[[medium.type]]"></i>
                </div>
            </div>
            <h2><i18n>panel.sniplets.title</i18n></h2>
            <div class="row sniplets" ng-if="website.visibility !== 'PUBLIC'">
                <div class="sniplet [[sniplet.source.template]] [[sniplet.source.application]]" ng-repeat="sniplet in snipletsSources" drag-item="sniplet">
                    <i class="[[sniplet.source.template]] [[sniplet.source.application]]" tooltip="[[sniplet.source.title]]"></i>
                </div>
            </div>
            <div class="row sniplets" ng-if="website.visibility === 'PUBLIC'">
                <div class="sniplet" ng-repeat="sniplet in publicSnipletsSources" drag-item="sniplet">
                    <i class="[[sniplet.source.template]] [[sniplet.source.application]]" tooltip="[[sniplet.source.title]]"></i>
                </div>
            </div>
            <h2><i18n>panel.blocks.title</i18n></h2>
            <div class="row">
                <input type="text" class="twelve cell search" placeholder="[[lang.translate('blocks.search-block-style')]]" ng-model="display.searchBlocks" /><i class="search"></i>
            </div>
            <div class="row">

                <div class="block-preview" ng-repeat="block in blocks.all | filter: searchBlocks | limitTo: blocks.index" drag-item="block">
                    <div class="block-description">
                        <h4>[[block.title]]</h4>
                        <div>[[block.description]]</div>
                    </div>
                    <div class="block-template [[block.name]]">
                        <div ng-include="block.path"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<ul class="icons-tabs pages-editor-panel">
    <li><i class="left-open"></i></li>
</ul>
