{
    "name": "{{ pagesVersion }}",
    "config": {
        "main": "fr.wseduc.pages.Pages",
        "port": 8025,
        "app-name": "Pages",
        "app-address": "/pages",
        "app-icon": "pages-large",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "ssl": true,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "mode": "prod",
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 2
                },
                "LIBELLE_SERVICE": {
                    "default": "PRODUCTION_COLLABORATIVE"
                }
            }
        }
    }
}