<button ng-click="newPage()">Nouvelle page</button>
<div ng-repeat="page in pages.all" class="row">
	<behaviour name="edit" resource="page">
		<section class="line reduce-block-six row">
				<h2 ng-click="openSingleElement(page)">[[page.title]]</h2>
				<div class="row" ng-if="page.opened">
					<div class="row" ng-if="page.opened">
						<div class="row">
							<input type="text" ng-model="page.title" />
						</div>
						<html-editor ng-model="page.content" class="row"></html-editor>
						<behaviour name="share" resource="page">
							<share-panel resources="page"></share-panel>
						</behaviour>
						<button ng-click="page.save()">Sauvegarder</button>
						<button ng-click="page.remove()">Supprimer</button>
					</div>
				</div>
			<div class="row"></div>
		</section>
	</behaviour>
</div>

