<div drawing-grid class="viewer">
	<div class="row" ng-repeat="row in page.rows.all">
		<grid-row index="row.index">
			<grid-cell ng-repeat="cell in row.cells.all" class="media cell" w="cell.width" h="cell.height" class-name="cell.className"
					   on-index-change="row.setIndex(cell, cell.index)" on-row-change="setRow(cell, cell.row)" index="cell.index" row="cell.row">
				<div ng-if="cell.media.type === 'text' || cell.media.type === 'video'" class="text-wrapper">
					<div ng-if="cell.media.source" bind-html="cell.media.source"></div>
				</div>
				<div ng-if="cell.media.type === 'image'" class="image-container">
					<img ng-src="[[cell.media.source]]" />
				</div>
				<div ng-if="cell.media.type === 'sound'" class="text-wrapper">
					<audio ng-src="[[cell.media.source]]" controls></audio>
				</div>
				<div ng-if="cell.media.type === 'sniplet'">
					<sniplet template="[[cell.media.source.template]]" application="[[cell.media.source.application]]" source="cell.media.source.source"></sniplet>
				</div>
				<div ng-if="cell.media.type === 'grid'" class="grid-wrapper">
					<div ng-init="page = cell.media.source">
						<div ng-if="display.editGrid === page" ng-click="editGrid(page, $event)">
							<container template="grid"></container>
						</div>
						<div ng-if="display.editGrid !== page" ng-click="editGrid(page, $event)">
							<container template="grid-view"></container>
						</div>
					</div>
				</div>
			</grid-cell>
			<div class="row" style="min-height: 0"></div>
		</grid-row>
	</div>
</div>