<div drawing-grid class="editor" ng-class="{ 'edit-grid': page === display.editGrid, 'blur-grid': page !== display.editGrid }">
	<div class="row" ng-repeat="row in page.rows.all">
		<div class="square-menu">
			<button complete-click="addCell(row)">+</button>
			<div class="buttons-line">
				<button complete-click="page.moveRowUp(row)" ng-if="page.rows.length() > 1" ng-disabled="$index === 0">&#8593;</button>
				<button complete-click="page.moveRowDown(row)" ng-if="page.rows.length() > 1" ng-disabled="$index === page.rows.length() - 1">&#8595;</button>
			</div>

		</div>
		<div class="square-menu-actions guide-line">
			<div class="grid-guides">
				<div class="row" ng-repeat="i in display.guideRows">
					<div class="one cell height-one" ng-repeat="i in display.guideCols"></div>
				</div>
			</div>
			<grid-row index="row.index">
				<grid-cell ng-repeat="cell in row.cells.all" class="media cell"
						   grid-resizable grid-draggable w="cell.width" h="cell.height" class-name="cell.className"
						   on-index-change="row.setIndex(cell, cell.index)" on-row-change="setRow(cell, cell.row)" index="cell.index" row="cell.row"
						   complete-click="editGrid(cell.media.source, $event)">
					<div ng-if="!cell.media.type">
						<ul class="menu-items" vertical-lock>
							<li ng-click="setType(cell, 'text')"><i class="text"></i><i18n>cell.add.text</i18n></li>
							<li>
								<media-select
										ng-model="cell.media.source"
										visibility="website.visibility"
										ng-change="setType(cell, 'image')"
										class="image"
										label="Ajouter une image"
										file-format="'img'">
										</media-select></li>
							<li>
								<media-select
										ng-model="cell.media.source"
										visibility="website.visibility"
										ng-change="setType(cell, 'sound')"
										class="sound"
										file-format="'audio'"
										label="Ajouter du son">
										</media-select>
							</li>
							<li ng-click="display.selectVideoContent = true"><i class="video"></i>Ajouter une vidéo</li>
							<li ng-click="display.selectSniplet = true;" ng-if="website.visibility !== 'PUBLIC'">
								<i class="sniplet"></i>Ajouter un sniplet (navigation, documents à télécharger...)
							</li>
							<li ng-click="setType(cell, 'grid')"><i class="grid"></i>Ajouter une grille (les grilles permettent de créer des lignes à l'intérieur d'une cellule)</li>
						</ul>
						<lightbox show="display.selectVideoContent" on-close="display.selectVideoContent = false">
							<h2>Insérer une vidéo</h2>
							<p class="info"><i18n>info.video.embed</i18n></p>
							<div class="row">
								<textarea ng-model="cell.media.source"></textarea>
							</div>
							<div class="row">
								<button class="right-magnet" ng-click="display.selectVideoContent = false;setType(cell, 'video');">Ajouter</button>
								<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="display.selectVideoContent = false;" />
							</div>
						</lightbox>
						<lightbox show="display.selectSniplet" on-close="display.selectSniplet = false">
							<div ng-if="display.snipletStep === 1">
								<h2>Choisir un contenu dynamique</h2>
								<ul class="thought-out-actions">
									<li ng-repeat="sniplet in sniplets" ng-click="selectSnipletSource(sniplet.template, sniplet.application)">
										<h2>[[lang.translate(sniplet.sniplet.title)]]</h2>
										<p>[[lang.translate(sniplet.sniplet.description)]]</p>
									</li>
								</ul>
							</div>
							<div ng-if="display.snipletStep === 2">
								<sniplet-source application="[[sniplet.application]]" template="[[sniplet.template]]" ng-model="sniplet.source" ng-change="addSniplet(cell)"></sniplet-source>
							</div>
						</lightbox>
					</div>
					<div ng-if="cell.media.type === 'text'" class="text-wrapper">
						<text-editor ng-model="cell.media.source"></text-editor>

					</div>
					<div ng-if="cell.media.type === 'video'" class="text-wrapper">
						<div class="absolute" bind-html="cell.media.source" style="pointer-events: none;"></div>
					</div>
					<div ng-if="cell.media.type === 'image'" class="image-container">
						<image-select ng-model="cell.media.source" visibility="website.visibility"></image-select>
					</div>
					<div ng-if="cell.media.type === 'sound'" class="text-wrapper">
						<sound-select ng-model="cell.media.source" visibility="website.visibility"></sound-select>
					</div>
					<div ng-if="cell.media.type === 'sniplet'">
						<sniplet template="[[cell.media.source.template]]" application="[[cell.media.source.application]]" source="cell.media.source.source"></sniplet>
					</div>
					<div ng-if="cell.media.type === 'grid'" class="grid-wrapper">
						<div class="nested-grid" ng-init="page = cell.media.source">
							<container template="grid" complete-click="editGrid(page, $event)"></container>
						</div>
					</div>
					<i class="close" complete-click="removeCell(row, cell)"></i>
					<div ng-if="cell.media.type === 'text' || cell.media.type === 'sound'">
						<color-select ng-model="cell.className[0]"></color-select>
					</div>
				</grid-cell>
			</grid-row>
		</div>
	</div>
	<div class="row">
		<div class="square-menu"></div>
		<div class="square-menu-actions">
			<button ng-click="page.addRow()" class="grid-add-row">
				Ajouter une ligne
			</button>
		</div>
	</div>
</div>