<div ng-if="display.editGrid === page">
	<container template="grid"></container>
</div>
<div ng-if="display.editGrid !== page" class="editor-view">
	<container template="grid-view"></container>
</div>
<hr class="row" />
<div class="row">
	<button ng-click="website.save()" class="right-magnet">Enregistrer</button>
	<button class="right-magnet" ng-click="pagePreview()">Aperçu</button>
	<input type="button" i18n-value="back" class="cancel right-magnet" ng-click="cancelEdit()" />

</div>
		<lightbox show="display.selectDynamicContent" on-close="display.selectDynamicContent = false">
			<h2>Templates</h2>
			<ul>
				<li>Navigation</li>
				<li>Liste</li>
				<li>Liste d'images</li>
			</ul>
		</lightbox>

