<div class="contextual-buttons">
	<div class="action-buttons">
		<button ng-click="display.createNewPage = true">Nouvelle page</button>
	</div>
</div>
<lightbox show="display.createNewPage" on-close="display.createNewPage = false">
	<h2>Nouvelle page</h2>
	<div class="row">
		<input class="twelve cell" placeholder="Titre de la nouvelle page" required type="text" ng-model="page.title" />
	</div>
	<div class="row">
		<h2>Modèles</h2>
			<ul class="thought-out-actions">
				<li ng-click="createPage('navigationAndBlog');">
					<div class="row">
						<div class="three cell">
							<img src="/pages/public/templates-images/navigationAndBlog.png" />
						</div>
						<div class="nine cell">
							<h2>Articles et navigation</h2>
							<p>Les articles d'un blog sont affichés au centre, et une navigation est présente sur la gauche.</p>

						</div>
					</div>
				</li>
				<li ng-click="createPage('navigationAndContent');">
					<div class="row">
						<div class="three cell">
							<img src="/pages/public/templates-images/navigationAndContent.png" />
						</div>
						<div  class="nine cell">
							<h2>Texte et navigation</h2>
							<p>Le contenu de la page est au centre, et une navigation est présente sur la gauche.</p>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<div class="row">
		<input type="button" i18n-value="cancel" class="right-magnet cancel" ng-click="cancelPageCreation()" />
	</div>
</lightbox>
<div class="row">
	<table class="twelve list-view">
		<thead>
		<tr>
			<th class="icon"><input type="checkbox" ng-model="display.selectAllPages" ng-change="switchSelectAllPages()"/></th>
			<th class="content">Page</th>
			<th class="content">URL</th>
			<th class="date">Date</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="page in website.pages.all">
			<td class="icon"><input type="checkbox" ng-model="page.selected" /></td>
			<td class="content" ng-click="editPage(page)"><a>[[page.title]]</a></td>
			<td class="content" ng-click="editPage(page)">[[page.url(website)]]</td>
			<td class="date" ng-click="editPage(page)"><a>[[date.format(page.modificationDate, 'DD/MM/YYYY')]]</a></td>
		</tr>
		</tbody>
	</table>
</div>


<div class="toggle-buttons" ng-class="{ hide: website.pages.selection().length < 1 }">
	<div class="row toggle">
		<button ng-click="setLandingPage()" ng-if="website.pages.selection().length === 1">Utiliser en page d'accueil</button>
		<button ng-click="removeSelectedPages()">Supprimer</button>
	</div>
</div>