<div class="contextual-buttons">
	<div class="action-buttons">
		<button ng-click="display.createNewPage = true"><i18n>page.create.title</i18n></button>
	</div>
</div>
<lightbox show="display.createNewPage" on-close="display.createNewPage = false">
	<h2><i18n>page.create.title</i18n></h2>
	<div class="row">
		<input class="twelve cell" i18n-placeholder="page.form.title" required type="text" ng-model="page.title" />
	</div>
	<div class="row">
		<h2><i18n>templates.title</i18n></h2>
			<ul class="thought-out-actions">
				<li ng-click="createPage('oneColumn');">
					<div class="row">
						<div class="three cell">
							<img src="/pages/public/templates-images/oneColumn.png" />
						</div>
						<div class="nine cell">
							<h2><i18n>templates.oneColumn.title</i18n></h2>
							<p><i18n>templates.oneColumn.desc</i18n></p>
						</div>
					</div>
				</li>
				<li ng-click="createPage('twoColumns');">
					<div class="row">
						<div class="three cell">
							<img src="/pages/public/templates-images/twoColumns.png" />
						</div>
						<div class="nine cell">
							<h2><i18n>templates.twoColumns.title</i18n></h2>
							<p><i18n>templates.twoColumns.desc</i18n></p>
						</div>
					</div>
				</li>
				<li ng-click="createPage('navigationAndBlog');" ng-if="website.visibility !== 'PUBLIC'">
					<div class="row">
						<div class="three cell">
							<img src="/pages/public/templates-images/navigationAndBlog.png" />
						</div>
						<div class="nine cell">
							<h2><i18n>templates.blog.title</i18n></h2>
							<p><i18n>templates.blog.desc</i18n></p>

						</div>
					</div>
				</li>
				<li ng-click="createPage('navigationAndContent');">
					<div class="row">
						<div class="three cell">
							<img src="/pages/public/templates-images/navigationAndContent.png" />
						</div>
						<div  class="nine cell">
							<h2><i18n>templates.nav.title</i18n></h2>
							<p><i18n>templates.nav.desc</i18n></p>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<div class="row">
		<input type="button" i18n-value="cancel" class="right-magnet cancel" ng-click="cancelPageCreation()" />
	</div>
</lightbox>
<lightbox show="display.rename" on-close="display.rename = false">
	<form ng-submit="rename()">
		<h2><i18n>rename</i18n></h2>
		<input type="text" i18n-placeholder="title" ng-model="display.newTitle" class="twelve cell" required />
		<div class="row">
			<button class="right-magnet"><i18n>save</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="display.rename = false" />
		</div>
	</form>

</lightbox>
<lightbox show="display.duplicate" on-close="display.duplicate = false">
	<form ng-submit="display.duplicate = false">
		<h2><i18n>duplicate</i18n></h2>
		<input type="text" i18n-placeholder="title" ng-model="page.title" class="twelve cell" required />
		<div class="row">
			<button ng-click="duplicate()" class="right-magnet"><i18n>duplicate</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" />
		</div>
	</form>

</lightbox>
<div class="twelve cell">
	<ul class="twelve list-view row" sortable-list>
		<li class="head">
			<div class="one cell"><input type="checkbox" ng-model="display.selectAllPages" ng-change="switchSelectAllPages()"/></div>
			<div class="three cell">Page</div>
			<div class="five cell">URL</div>
			<div class="three cell date">Date</div>
		</li>
		<li ng-repeat="page in website.pages.all | orderBy:'index'" sortable-element ng-model="page.index" ng-change="website.save()">
			<div class="one cell">
				<i class="drag-anchor"></i>
				<input type="checkbox" ng-model="page.selected" />
			</div>
			<div class="three cell" ng-click="editPage(page)"><a>[[page.title]]</a></div>
			<div class="five cell" ng-click="editPage(page)">[[page.url(website)]]</div>
			<div class="three cell date" ng-click="editPage(page)"><a>[[date.format(page.modificationDate, 'DD/MM/YYYY')]]</a></div>
		</li>
	</ul>
</div>


<div class="toggle-buttons" ng-class="{ hide: website.pages.selection().length < 1 }">
	<div class="row toggle">
		<button ng-click="setLandingPage()" ng-if="website.pages.selection().length === 1"><i18n>mainpage</i18n></button>
		<button ng-click="display.rename = true"><i18n>rename</i18n></button>
		<button ng-click="display.duplicate = true" ng-if="website.pages.selection().length === 1"><i18n>duplicate</i18n></button>
		<button ng-click="removeSelectedPages()"><i18n>remove</i18n></button>
	</div>
</div>