<container template="grid-view"></container>
<div class="page-markers">
	<div class="marker">
		<div class="content" ng-click="home()"><i18n>pages.marker.websites</i18n></div>
	</div>

	<div class="marker">
		<behaviour name="update" resource="website">
			<div class="content" ng-click="editPage(page)"><i18n>edit</i18n></div>
		</behaviour>
	</div>
	<div class="marker">
		<behaviour name="update" resource="website">
			<div class="content" ng-click="cancelEdit()"><i18n>pages.marker.nav</i18n></div>
		</behaviour>
	</div>
</div>