<div ng-controller="EditController">
    <div class="row">
        <side-panel class="zero-mobile">
            <nav class="vertical">
                <h2><i18n>pages.list.title</i18n></h2>
                <ul>
                    <li ng-repeat="w in websites">
                        <a ng-class="{'selected': w._id === website._id}" ng-href="#/website/[[w._id]]">[[w.title]]</a>
                    </li>
                </ul>
            </nav>
        </side-panel>

        <app-title>
            <h1 class="breadcrumbs"><a ng-click="redirectTo('/')"><i18n>pages.title</i18n></a><a ng-href="#/website/[[website._id]]">[[website.title]]</a></h1>
        </app-title>
    </div>

    <sticky-row>
        <div class="six cell">
            <div class="buttons-set">
                <button ng-if="!page.published" ng-click="page.publish()">
                    <i18n>publish</i18n>
                </button>
                <button ng-if="page.published" ng-click="page.unpublish()">
                    <i18n>unpublish</i18n>
                </button>
                <div class="tip">
                    <i class="public" ng-if="page.published" tooltip="page.published"></i>
                    <i class="prive" ng-if="!page.published" tooltip="page.unpublished"></i>
                </div>
            </div>
            <a class="button cancel no-margin" ng-href="[[previewPath()]]"><i18n>preview</i18n></a>

        </div>
        <div class="cell right-magnet">
            <div class="buttons-set right-magnet">
                <button class="cancel" ng-click="lightbox('managePages');">
                    <i18n>pages.manage</i18n>
                </button>
                <button class="cancel"  ng-click="lightbox('managePages');website.initNewPage();" tooltip="tooltip.newpage">
                    <i class="add-page"></i>
                </button>
            </div>

            <div class="cell right-magnet button-info">
                <i18n>editing</i18n>
                <select-list display="page" display-as="title" class="button">
                    <opt ng-repeat="page in website.pages.all" ng-click="redirectTo('/website/' + website._id + '/' + page.titleLink)" value="font">
                        <i ng-if="website.landingPage === page.titleLink" class="home"></i>
                        [[page.title]]
                    </opt>
                </select-list>
            </div>
        </div>
    </sticky-row>

    <div class="row">
        <br>
        <div class="warning" ng-if="page.weight > 17">
            <i18n>page.warning.heavy</i18n>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="twelve cell">
                <container template="editor/grid"></container>
            </div>
        </div>

        <panel></panel>
    </div>

    <container template="editor/pages-manager"></container>
    <lightbox show="display.lightbox.setCellTitle" on-close="closeCellTitle()">
        <h2><i18n>cell.set.title</i18n></h2>
        <div class="row">
            <input type="text" class="twelve cell" ng-model="display.data.newTitle" i18n-placeholder="title" />
        </div>
        <div class="row">
            <button class="right-magnet" ng-click="closeCellTitle(true)"><i18n>save</i18n></button>
            <button class="right-magnet cancel" ng-click="closeCellTitle()"><i18n>cancel</i18n></button>
        </div>
    </lightbox>

    <lightbox show="display.lightbox.confirmRemoveCell" on-close="lightbox('confirmRemoveCell')">
        <h2><i18n>remove</i18n></h2>
        <p><i18n>remove.cell.confirm</i18n></p>
        <div class="row">
            <button class="right-magnet" ng-click="confirmRemoveCell()"><i18n>remove</i18n></button>
            <button class="right-magnet cancel" ng-click="lightbox('confirmRemoveCell')"><i18n>cancel</i18n></button>
        </div>
    </lightbox>
</div>
