<div class="row" ng-controller="ViewController">
    <div class="row" ng-if="me">
        <side-panel class="zero-mobile">
            <nav class="vertical">
                <h2><i18n>pages.list.title</i18n></h2>
                <ul>
                    <li ng-repeat="w in websites">
                        <a ng-class="{'selected': w._id === website._id}" ng-href="#/website/[[w._id]]">[[w.title]]</a>
                    </li>
                </ul>
            </nav>
        </side-panel>

        <app-title>
            <h1 class="breadcrumbs"><a ng-click="redirectTo('/')">Pages</a><a ng-click="edit()">[[website.title]]</a></h1>
        </app-title>
    </div>
    
    <resource-right resource="website" name="update">
    </resource-right>
    

    <div class="twelve cell">
        <container template="view/grid"></container>
    </div>
</div>