<div class="share publish">
	<div class="row line">
		<h2><i18n>pages.publish.title</i18n></h2>
		<div class="groups-list">
			<table>
				<tbody ng-repeat="structure in localAdmin.structures.all">
				<tr ng-repeat="group in website.published[structure.id].groups | orderBy:'index':true">
					<td>[[group.name]]</td>
					<td class="drop-line" ng-click="website.removeRoleForGroup(structure, group)"></td>
				</tr>
				</tbody>
			</table>
		</div>


	</div>
	<div class="row">
		<h2><i18n>search</i18n></h2>
		<input type="text" ng-model="display.search" i18n-placeholder="share.search.placeholder" />
		<div class="found-users-list">
			<div ng-repeat="structure in localAdmin.structures.all">
				<div ng-repeat="group in structure.groups.all | filter:matchSearch | orderBy:'name'" class="row autocomplete">
					<em ng-click="publishForGroup(structure, group)" class="row">
						<span class="cell reduce-block-two">[[group.name]]</span>
					</em>
				</div>
			</div>
		</div>
	</div>
</div>