<div class="row">
	<button ng-click="display.createNewSite = true" workflow="pages.create">Nouveau site web</button>
	<lightbox show="display.createNewSite" on-close="createNewSite = false">
		<h2>Créer un nouveau site web</h2>
		<div class="row">
			<div class="row">
				<label class="three cell">Titre</label>
				<input class="nine cell" type="text" ng-model="website.title" />
			</div>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="createSite()">Créer</button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelSiteCreation()" />

		</div>
	</lightbox>
</div>

<filters>
	<li ng-class="{ selected: display.mineOnly }">
		<label>
			<i class="mine type"></i>
			<input type="checkbox" ng-model="display.mineOnly" />
			<p><i18n>filters.mine</i18n></p>
		</label>
	</li>
</filters>

<div class="row">
	<input type="search" class="twelve cell" i18n-placeholder="search" ng-model="display.search" />
</div>

<nav class="illustrated-links">
	<ul>
		<li ng-repeat="website in websites.all | filter:mine | filter:searchMatch">
			<div class="illustration" ng-click="viewSite(website)">
				<img ng-src="[[website.icon]]?thumbnail=150x150" alt="thumbnail" ng-if="website.icon" />
				<img skin-src="/img/illustrations/pages-default.png" alt="thumbnail" ng-if="!website.icon" />
			</div>
			<div class="content">
				<div class="row">
					<h1 ng-click="viewSite(website)" class="twelve cell">[[website.title]]</h1>
				</div>
				<div class="row">
					<behaviour name="update" resource="website" class="cell"><input type="checkbox" ng-model="website.selected" /></behaviour>
					<em>Par [[website.owner.displayName]]</em> - <a ng-href="[[website.url()]]" target="_blank"><strong>[[website.url()]]</strong></a>
					<p>[[website.description]]</p>
				</div>
			</div>
		</li>
	</ul>
</nav>


<section class="toggle-buttons" ng-class="{ hide: websites.selection().length === 0 }">
	<div class="toggle">
		<div class="row">
			<behaviour name="update" resource="websites.selection()" class="cell">
				<button ng-click="editWebsite()" ng-if="websites.selection().length === 1"><i18n>edit</i18n></button>
			</behaviour>
			<behaviour name="remove" resource="websites.selection()" class="cell">
				<button ng-click="websites.removeSelection()"><i18n>remove</i18n></button>
			</behaviour>
			<behaviour name="share" resource="websites.selection()" class="cell">
				<button ng-click="display.showSharePanel = true;"><i18n>share</i18n></button>
			</behaviour>
		</div>
	</div>
</section>

<lightbox show="showConfirmRemove" on-close="showConfirmRemove = false">
	<h2>Supprimer le site</h2>

	<p>Voulez-vous vraiment supprimer votre site web ?</p>

	<div class="row">
		<button class="right-magnet" ng-click="removeSite(website)">
			Supprimer
		</button>
		<input class="cancel right-magnet" i18n-value="cancel" type="button" ng-click="showConfirmRemove = false" />

	</div>
</lightbox>

<div ng-if="display.showSharePanel">
	<lightbox show="display.showSharePanel" on-close="display.showSharePanel = false">
		<share-panel app-prefix="'pages'" resources="websites.selection()"></share-panel>
	</lightbox>
</div>