<h2>[[website.title]]</h2>

<div class="row">
	<image-select ng-model="website.icon" default="/img/illustrations/pages-default.png" thumbnails="[{ width: 150, height: 150 }]" class="two cell"></image-select>
	<article class="ten cell">
		<div class="row">
			<label class="two cell"><i18n>website.title</i18n></label>
			<input class="ten cell" type="text" ng-model="website.title" />
		</div>
		<div class="row">
			<label class="two cell">Description</label>
			<textarea i18n-placeholder="description" class="ten cell" ng-model="website.description"></textarea>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="website.save(); website.updateApplication(); editWebsite(website)">Enregistrer</button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="editWebsite(website)" />
		</div>
	</article>
</div>

<h2>Publication</h2>

<resource-right name="share" resource="website" class="cell">
		<button class="cell" ng-click="display.showSharePanel = true">Partager dans l'ENT</button>
</resource-right>
		<button class="cell" ng-click="openPublish()" user-role="ADMIN_LOCAL">Publier dans les applications</button>
		<div ng-if="display.showSharePanel">
			<lightbox show="display.showSharePanel" on-close="display.showSharePanel = false">
				<share-panel app-prefix="'pages'" resources="website"></share-panel>
			</lightbox>
		</div>
		<lightbox show="display.showPublish" on-close="display.showPublish = false">
			<container template="publish"></container>
		</lightbox>
