<div class="row">
	<image-select ng-model="website.icon" default="/img/illustrations/blog.png" thumbnails="[{ width: 150, height: 150 }]" class="two cell" ng-change="website.save()"></image-select>
	<div class="ten cell">
		<div class="row">
			<label class="two cell">Titre</label>
			<input class="nine cell" type="text" ng-model="website.title" complete-change="website.save()" />
		</div>
	</div>
</div>
<div class="row">
	<button class="right-magnet">Enregistrer</button>
	<input type="button" class="cancel right-magnet" i18n-value="cancel" />
</div>