<div class="row" workflow="pages.create">
	<drop-down-button class="cell">
		<label class="opener"><i18n>website.create</i18n></label>
		<opts>
			<li ng-click="display.createNewSite = true" >
				<i18n>website.addForm.personal.title</i18n>
			</li>
			<li ng-click="display.createNewSite = true; website.visibility = 'PUBLIC';">
				<i18n>website.addForm.public.title</i18n>
			</li>
		</opts>
	</drop-down-button>
	<lightbox show="display.createNewSite" on-close="createNewSite = false">
		<h2><i18n>website.addForm.title</i18n></h2>
		<div class="row">
			<div class="row">
				<label class="three cell"><i18n>title</i18n></label>
				<input class="nine cell" type="text" ng-model="website.title" />
			</div>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="createSite()"><i18n>create</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelSiteCreation()" />
		</div>
	</lightbox>
</div>

<filters>
	<li ng-class="{ selected: display.mineOnly }">
		<label>
			<i class="mine type" tooltip="filters.mine"></i>
			<input type="checkbox" ng-model="display.mineOnly" />
		</label>
	</li>
	<li ng-class="{ selected: display.internal }">
		<label>

		</label>
	</li>
	<li ng-class="{ selected: display.public }">
		<label>

		</label>
	</li>
</filters>

<div class="row">
	<input type="search" class="twelve cell" i18n-placeholder="search" ng-model="display.search" />
</div>

<nav class="illustrated-links">
	<ul>
		<li ng-repeat="website in websites.all | filter:searchMatch">
			<div class="illustration" ng-click="viewSite(website)">
				<img ng-src="[[website.icon]]?thumbnail=150x150" alt="thumbnail" ng-if="website.icon" />
				<img skin-src="/img/illustrations/pages-default.png" alt="thumbnail" ng-if="!website.icon" />
			</div>
			<div class="content">
				<div class="row">
					<h1 ng-click="viewSite(website)" class="eight cell" ng-if="website.visibility !== 'PUBLIC'">[[website.title]]</h1>
					<h1 class="eight cell" ng-if="website.visibility === 'PUBLIC'"><i class="public"></i><a target="_blank" ng-href="/pages/p/website#/website/[[website._id]]">[[website.title]]</a></h1>
					<div class="four cell right-magnet">
						<resource-right name="update" resource="website" class="cell right-magnet">
							<button ng-click="editWebsite(website)"><i18n>properties</i18n></button>
						</resource-right>
						<resource-right name="remove" resource="website" class="cell right-magnet">
							<button ng-click="openRemoveConfirm(website)"><i18n>remove</i18n></button>
						</resource-right>
					</div>
				</div>
				<div class="row">
					<em>Par [[website.owner.displayName]]</em> - <a ng-href="[[website.url()]]" target="_blank"><strong>[[website.url()]]</strong></a>
					<p>[[website.description]]</p>
				</div>
			</div>
		</li>
	</ul>
</nav>

<lightbox show="display.showConfirmRemove" on-close="display.showConfirmRemove = false">
	<h2><i18n>remove</i18n></h2>

	<p><i18n>remove.confirm</i18n></p>

	<div class="row">
		<button class="right-magnet" ng-click="removeWebsite()">
			<i18n>remove</i18n>
		</button>
		<input class="cancel right-magnet" i18n-value="cancel" type="button" ng-click="display.showConfirmRemove = false" />

	</div>
</lightbox>