<div class="row">
	<button ng-click="display.createNewSite = true" workflow="pages.create"><i18n>website.addForm.title</i18n></button>
	<lightbox show="display.createNewSite" on-close="createNewSite = false">
		<h2><i18n>website.addForm.title</i18n></h2>
		<div class="row">
			<div class="row">
				<label class="three cell"><i18n>title</i18n></label>
				<input class="nine cell" type="text" ng-model="website.title" />
			</div>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="createSite()"><i18n>create</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelSiteCreation()" />

		</div>
	</lightbox>
</div>

<filters>
	<li ng-class="{ selected: display.mineOnly }">
		<label>
			<i class="mine type" tooltip="filters.mine"></i>
			<input type="checkbox" ng-model="display.mineOnly" />
		</label>
	</li>
</filters>

<div class="row">
	<input type="search" class="twelve cell" i18n-placeholder="search" ng-model="display.search" />
</div>

<nav class="illustrated-links">
	<ul>
		<li ng-repeat="website in websites.all | filter:mine | filter:searchMatch">
			<div class="illustration" ng-click="viewSite(website)">
				<img ng-src="[[website.icon]]?thumbnail=150x150" alt="thumbnail" ng-if="website.icon" />
				<img skin-src="/img/illustrations/pages-default.png" alt="thumbnail" ng-if="!website.icon" />
			</div>
			<div class="content">
				<div class="row">
					<h1 ng-click="viewSite(website)" class="eight cell">[[website.title]]</h1>
					<div class="four cell right-magnet">
						<resource-right name="update" resource="website" class="cell right-magnet">
							<button ng-click="editWebsite(website)"><i18n>properties</i18n></button>
						</resource-right>
						<resource-right name="remove" resource="website" class="cell right-magnet">
							<button ng-click="website.remove();"><i18n>remove</i18n></button>
						</resource-right>
					</div>
				</div>
				<div class="row">
					<em>Par [[website.owner.displayName]]</em> - <a ng-href="[[website.url()]]" target="_blank"><strong>[[website.url()]]</strong></a>
					<p>[[website.description]]</p>
				</div>
			</div>
		</li>
	</ul>
</nav>

<lightbox show="showConfirmRemove" on-close="showConfirmRemove = false">
	<h2>Supprimer le site</h2>

	<p>Voulez-vous vraiment supprimer votre site web ?</p>

	<div class="row">
		<button class="right-magnet" ng-click="removeSite(website)">
			Supprimer
		</button>
		<input class="cancel right-magnet" i18n-value="cancel" type="button" ng-click="showConfirmRemove = false" />

	</div>
</lightbox>