<drawing-grid class="edit pages-grid">
    <div class="new-row droppable" ng-repeat-start="row in page.rows.all">
        <div class="show-default">
            +
        </div>
        <div class="show-highlight">
            <i18n>addrow</i18n>
        </div>
    </div>
	<div class="row" ng-repeat-end>
		<grid-row index="row.index" row="row">
            <grid-cell class="media cell editor-media" ng-repeat="cell in row.cells.all"
                    grid-resizable drag-item="cell" drag-crop w="cell.width" h="cell.height" class-name="cell.className"
                    cell="cell" row="row">
                <div ng-if="!cell.media.type">
                    <div class="help">
                        <div>
                            <a class="side-panel-opener" href="javascript:;"><i18n>drag.and.drop</i18n></a>
                            <i18n>bloc.help</i18n>
                            <a class="start-write" href="javascript:;"><i18n>bloc.write</i18n></a>
                        </div>
                    </div>
                </div>
                <div ng-if="cell.media.type === 'text'" class="text-wrapper" style="cursor: initial" ng-click="focusEditor(cell, $event)">
                    <div bind-html="cell.media.source" ng-if="cell.media.source && !cell.focus" style="border: none" contenteditable="true"></div>
                    <div ng-if="!cell.media.source || cell.focus">
                        <editor ng-model="cell.media.source" placeholder="page.texte.placeholder" visibility="currentVisibility()" track-input-event="website.getTracker()"></editor>
                    </div>

                </div>
                <div ng-if="cell.media.type === 'video'" class="video-wrapper">
                    <embedder file-format="'video'" ng-model="cell.media.source" ng-change="applyHtml(cell)" show="cell.media.showEmbedder" visibility="currentVisibility()"></embedder>
                    <button ng-if="!cell.media.source" ng-click="cell.media.showEmbedder=true;">
                        <i18n>video.pick</i18n>
                    </button>
                    <div bind-html="cell.media.source" style="pointer-events: none;"></div>
                </div>
                <div ng-if="cell.media.type === 'image'" class="image-wrapper">
                    <image-select 
                        ng-change="page.eventer.trigger('save')"
                        ng-model="cell.media.source" 
                        visibility="currentVisibility()" 
                        default="/img/illustrations/pages.svg"
                        thumbnails="[{ width: 1600, height: 0 }]">
                    </image-select>
                </div>
                <div ng-if="cell.media.type === 'sound'" class="audio-wrapper">
                    <sound-select 
                        ng-change="page.eventer.trigger('save')"
                        ng-model="cell.media.source" 
                        visibility="currentVisibility()">
                    </sound-select>
                </div>
                <div ng-if="cell.media.type === 'sniplet'">
                    <div ng-if="!cell.media.source.source">
                        <sniplet-source application="[[cell.media.source.application]]" template="[[cell.media.source.template]]" ng-model="cell.media.source.source"></sniplet-source>
                    </div>
                    <div ng-if="cell.media.source.source">
                        <sniplet template="[[cell.media.source.template]]" application="[[cell.media.source.application]]" source="cell.media.source.source"></sniplet>
                    </div>
                </div>
                <div ng-if="cell.media.type === 'grid'">
                    <div ng-init="page = cell.media.source">
                        <container template="view/grid"></container>
                    </div>
                </div>
            </grid-cell>
		</grid-row>
	</div>
    <div class="new-row droppable">
        <div class="show-default">
            +
        </div>
        <div class="show-highlight">
            <i18n>addrow</i18>
        </div>
    </div>
</drawing-grid>