<lightbox show="display.lightbox.managePages" on-close="closeManagePages()">
    <div ng-if="display.lightbox.managePages && website.newPage === undefined && website.showStyle === undefined">
        <h2><i18n>pages.manage.title</i18n></h2>

        <div class="twelve cell card">
            <ul class="twelve list-view row" sortable-list on-change="updateNav()">
                <li ng-repeat="page in website.pages.all | orderBy:'index'" sortable-element ng-model="page.index">
                    <div class="one cell">
                        <i class="drag"></i>
                    </div>
                    <div class="nine cell text">
                        <a ng-href="[[previewPath()]]/[[page.titleLink]]"  ng-if="page.show.url && !page.show.rename">[[previewPath()]]/[[page.titleLink]]</a>
                        <a href="#/website/[[website._id]]/[[page.titleLink]]" ng-if="!page.show.url || page.show.rename">
                            <i ng-if="website.landingPage === page.titleLink" class="home"></i>
                            <span ng-if="!page.show.rename">[[page.title]]</span>
                            <input 
                                   ng-if="page.show.rename"
                                   type="text" 
                                   ng-model="page.title" 
                                   complete-change="page.show.rename = false; updateNav();" />
                        </a>
                    </div>
                    <div class="one cell">
                        <i class="public" ng-if="page.published" tooltip="page.published"></i>
                        <i class="prive" ng-if="!page.published" tooltip="page.unpublished"></i>
                    </div>
                    <div class="one cell">
                        <dots-menu class="right-magnet">
                            <opt ng-click="lightbox('confirmRemovePage', page)"><i18n>remove</i18n></opt>
                            <opt ng-click="page.setLanding()"><i18n>mainpage</i18n></opt>
                            <opt ng-click="page.duplicate(); updateNav();"><i18n>duplicate</i18n></opt>
                            <opt ng-if="!page.show.url" ng-click="page.show.url = true"><i18n>page.showurl</i18n></opt>
                            <opt ng-if="page.show.url" ng-click="page.show.url = false"><i18n>page.showtitle</i18n></opt>
                            <opt ng-click="page.unpublish(); updateNav();" ng-if="page.published"><i18n>unpublish</i18n></opt>
                            <opt ng-click="page.publish(); updateNav();" ng-if="!page.published"><i18n>publish</i18n></opt>
                            <opt ng-click="website.showStyle = page"><i18n>page.editstyle</i18n></opt>
                            <opt ng-click="page.show.rename = true"><i18n>rename</i18n></opt>
                        </dots-menu>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="twelve cell vertical-spacing">
                <button class="right-magnet" ng-click="closeManagePages()">
                    <i18n>validate</i18n>
                </button>
                <button class="right-magnet cancel" ng-click="website.initNewPage()">
                    <i18n>page.create</i18n>
                </button>
            </div>
        </div>
    </div>
    <div ng-if="website.showStyle && website.newPage === undefined">
        <h2><i18n>css.title</i18n></h2>
        <div class="info">
            <p><i18n>css.help</i18n></p>
        </div>
        <css-editor page="website.showStyle"></css-editor>
        <div class="row">
            <button class="cancel right-magnet" ng-click="website.showStyle = undefined"><i18n>back</i18n></button>
        </div>
    </div>
    <div ng-if="display.lightbox.managePages && website.newPage !== undefined">
        <form>
            <h2><i18n>properties</i18n></h2>
            <input type="text" ng-model="website.newPage.title" i18n-placeholder="title" required class="twelve cell" />
            <div class="row">
                <button class="right-magnet" ng-click="addPage(website)" ng-disabled="!website.newPage.title">
                    <i18n>add</i18n>
                </button>
                <button class="right-magnet cancel" ng-click="website.newPage = undefined"><i18n>cancel</i18n></button>
            </div>
        </form>
        
    </div>
</lightbox>

<lightbox show="display.lightbox.confirmRemovePage" on-close="lightbox('confirmRemovePage')">
    <h2><i18n>remove</i18n></h2>
    <p><i18n>remove.page.confirm</i18n></p>
    <div class="row">
        <button class="right-magnet" ng-click="removePage(); updateNav();"><i18n>remove</i18n></button>
        <button class="cancel right-magnet" ng-click="lightbox('confirmRemovePage')"><i18n>cancel</i18n></button>
    </div>
</lightbox>