<div class="row accordions block-container">
	<article class="accordion" ng-class="{ opened: accOp === 1 }">
		<h2 ng-click="accOp = 1;">Catégorie 1</h2>
		<div class="toggle">
			<div class="content">
				Contenu de la catégorie 1
			</div>
		</div>
	</article>
	<article class="accordion" ng-class="{ opened: accOp === 2 }">
		<h2 ng-click="accOp = 2">Catégorie 2</h2>
		<div class="toggle">
			<div class="content">
				Contenu de la catégorie 2
			</div>
		</div>
	</article>
	<article class="accordion" ng-class="{ opened: accOp === 3 }">
		<h2 ng-click="accOp = 3">Catégorie 3</h2>
		<div class="toggle">
			<div class="content">
				Contenu de la catégorie 3
			</div>
		</div>
	</article>
</div>
