<div class="row accordions block-container">
	<article class="accordion" ng-class="{ opened: accOp === 1 }">
		<h2 ng-click="accOp = 1;"><span>Catégorie 1</span></h2>
		<div class="toggle">
			<div class="content">
				<p>
					Contenu de la catégorie 1
				</p>
			</div>
		</div>
	</article>
	<article class="accordion" ng-class="{ opened: accOp === 2 }">
		<h2 ng-click="accOp = 2"><span>Catégorie 2</span></h2>
		<div class="toggle">
			<div class="content">
				<p>
					Contenu de la catégorie 2
				</p>
			</div>
		</div>
	</article>
	<article class="accordion" ng-class="{ opened: accOp === 3 }">
		<h2 ng-click="accOp = 3"><span>Catégorie 3</span></h2>
		<div class="toggle">
			<div class="content">
				<p>
					Contenu de la catégorie 3
				</p>
			</div>
		</div>
	</article>
</div>
