<div class="row image-block pages-template-block">
    <div class="cell block-container">
        <img skin-src="/img/illustrations/pages.svg"/>
    </div>

    <div class="overflow-hd block-container" >
        <p>
            Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit.
        </p>
    </div>
</div>
