<div class="quote-block">

    <div class="block-container right-magnet">
        <img skin-src="/img/illustrations/pages-default.png" class="block-container" />
    </div>

    <div class="block-container overflow-hd">
        <i class="quote-r"></i>
        <div class="block-container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <i class="right-magnet quote"></i>
        <div class="row left-one">
            <br>
            <em class="cell"><span>Lorem ipsum</span></em>
        </div>
    </div>

</div>
