<div class="three-col-block flex-row flex-start">
    <section class="horizontal-margin">
        <img skin-src="/img/illustrations/pages-default.png" class="block-container twelve block" />
        <p class="block-container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
        </p>
    </section>
    <section class="horizontal-margin">
        <img skin-src="/img/illustrations/pages-default.png" class="block-container twelve block" />
        <p class="block-container">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
        </p>
    </section>
</div>
