<div class="three-col-block flex-row flex-start pages-template-block">
    <section class="horizontal-margin">
        <div class="block-container twelve block">
            <img skin-src="/img/illustrations/pages-default.png"/>
        </div>
        <div class="vertical-spacing">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in exercitation ullamco.
            </p>
        </div>
    </section>
    <section class="horizontal-margin">
        <div class="block-container twelve block">
            <img skin-src="/img/illustrations/pages-default.png"/>
        </div>
        <div class="vertical-spacing">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in exercitation ullamco.
            </p>
        </div>
    </section>
</div>
