<!DOCTYPE html>
<html>
	<head>
		<title>Pages</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script src="/pages/public/dist/entcore/ng-app-76da4ddcad.js" type="text/javascript" id="context"></script>
		<script src="/pages/public/dist/application-d1d0b565c9.js" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        {{#notLoggedIn}}
        <script type="text/javascript">var notLoggedIn = true;</script>
        {{/notLoggedIn}}
		<script type="text/ng-template" id="empty">
		</script>
	</head>
	<body ng-controller="MainController">
		<portal>
			<container template="main"></container>
		</portal>
	</body>
</html>