<!DOCTYPE html>
<html>
<head>
	<title>Pages</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="/pages/public/dist/entcore/ng-app-8e345ced5b.js" type="text/javascript" id="context"></script>
	<script src="/pages/public/dist/application-196cdeef46.js" type="text/javascript"></script>
	{{#notLoggedIn}}
	<script type="text/javascript">var notLoggedIn = true;</script>
	{{/notLoggedIn}}
    <script type="text/ng-template" id="empty">
    </script>
</head>

<body ng-controller="MainController" class="public">
    <header class="main">
        <section class="navbar">
            <div class="logo"></div>
        </section>
    </header>
	<default-styles>
        <div class="material">
            <section class="main">
                <container template="main"></container>
            </section>
        </div>
	</default-styles>
</body>
</html>