<div ng-if="custom">
    <nav class="vertical twelve cell">
        <ul>
            <li ng-repeat="link in links | orderBy:'index'">
                <a ng-href="[[link.href]]" ng-if="link.external" target="_blank">
                    [[link.text]]
                    <behaviour name="update" resource="snipletResource">
                        <i ng-if="link.external" class="close" ng-click="removeLink($index, $event)"></i>
                    </behaviour>
                </a>
                <a ng-click="redirect(link)" ng-if="!link.external" ng-class="{ selected: currentLink(link) }">
                    [[link.text]]
                </a>
            </li>
        </ul>
        <resource-right name="update" resource="snipletResource">
            <a class="classic-link" ng-click="snipletDisplay.enterLink = true;"><i18n>sniplet.addLink</i18n></a>
        </resource-right>
    </nav>
</div>

<div ng-if="!custom">
    <nav class="vertical twelve cell" side-nav>
        <ul>
            <li ng-repeat="link in links | orderBy:'index'">
                <a ng-href="[[link.href]]" ng-class="{ selected: currentLink(link) }" ng-click="refreshIfNeeded(link)">
                    [[link.title]]
                </a>
            </li>
        </ul>
    </nav>
</div>


<lightbox show="snipletDisplay.enterLink" on-close="snipletDisplay.enterLink = false;">
	<h2><i18n>sniplet.addLink</i18n></h2>
	<form name="linkForm" novalidate>
		<div class="row">
			<input name="url" type="text" ng-model="newLink.href" class="twelve cell" placeholder="http://mon-lien.nnn" required/>
			<p class="input-errors" ng-if="linkForm.url.$invalid && linkForm.url.$dirty">
				<span ng-repeat="(key, value) in linkForm.url.$error">
					<label ng-if="value">[[lang.translate(key)]]</label>
				</span>
			</p>
		</div>
		<div class="row">
			<input type="text" ng-model="newLink.text" class="twelve cell" i18n-placeholder="sniplet.form.displayText" />
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="addLink();" ng-disabled="linkForm.$invalid"><i18n>add</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="snipletDisplay.enterLink = false;"/>
		</div>
	</form>
</lightbox>
