<nav class="vertical twelve cell">
	<ul>
		<li ng-repeat="link in links | orderBy:'index'">
			<a ng-href="[[link.href]]" ng-if="link.external" target="_blank">
				[[link.text]]
				<behaviour name="update" resource="snipletResource">
					<i ng-if="link.external" class="close" ng-click="removeLink($index, $event)"></i>
				</behaviour>
			</a>
			<a ng-click="redirect(link)" ng-if="!link.external" ng-class="{ selected: currentLink(link) }">
				[[link.text]]
			</a>
		</li>
	</ul>
	<resource-right name="update" resource="snipletResource">
		<a class="classic-link" ng-click="snipletDisplay.enterLink = true;" ng-if="custom">Ajouter un lien</a>
	</resource-right>
</nav>

<lightbox show="snipletDisplay.enterLink" on-close="snipletDisplay.enterLink = false;">
	<h2><i18n>sniplet.addLink</i18n></h2>
	<div class="row">
		<input type="text" ng-model="newLink.href" class="twelve cell" placeholder="http://mon-lien.nnn" />
	</div>
	<div class="row">
		<input type="text" ng-model="newLink.text" class="twelve cell" i18n-placeholder="sniplet.form.displayText" />
	</div>
	<div class="row">
		<button class="right-magnet" ng-click="addLink();"><i18n>add</i18n></button>
		<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="snipletDisplay.enterLink = false;" />

	</div>
</lightbox>